<form [formGroup]="domaineFormGroup">
    <div mat-dialog-content>
    
        <input matInput formControlName="domaineName" placeholder="Entrez le cedar" required>
        <button mat-button (click)="addDomaine()" [disabled]="!domaineFormGroup.valid">Enregistrer</button><br>
    
        <table mat-table  [dataSource]="domaines">
            
            <tr mat-header-row *matHeaderRowDef="columnDisplayedDomaine"></tr>
            <tr mat-row *matRowDef="let row; columns: columnDisplayedDomaine"></tr>

            <ng-container matColumnDef='domaine'>
                <th mat-header-cell *matHeaderCellDef> Liste des Cedar </th>
                <td mat-cell *matCellDef="let element">
                    - {{element.domaineName}}
                </td>
            </ng-container>            
        </table>
    </div>
</form>