<div class="container h-100" [ng2-loading]="spinnerShow" [config]="spinnerConfig">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <div class="brand_logo_container">
                    <img src="./assets/images/sb_logo.png" class="brand_logo" alt="Logo">
                </div>
            </div>
            <div class="d-flex justify-content-center form_container">
                <form>
                    <div>
                        <h5 class="label">Identifiez-vous</h5>
                    </div>  
                    <div class="input-group mb-3">                      
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                        </div>
                        <input type="text" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="email">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-key"></i></span>
                        </div>
                        <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" placeholder="mot de passe">
                    </div>                   
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <div class="btn-group-vertical">
                            <button type="submit" name="button" class="btn login_btn" 
                                (click)="loginUser()" [disabled]="!email || !password">
                                S'identifier
                            </button>
                        </div>
                    </div>               
                </form>
            </div>
    
            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                    <a class="label" routerLinkActive="active"
                        data-toggle="modal" data-target="#modalSignUp">
                        Créer un compte CEDAR
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<app-authentification-signup></app-authentification-signup>