<div class="container">
    <h3>Sélectionner votre centre</h3>
    <!-- <mat-select>
        <mat-option value="cedar1">CEDAR 1</mat-option>
        <mat-option value="cedar2">CEDAR 2</mat-option>
        <mat-option value="cedar3">CEDAR 3</mat-option>
        <mat-option value="cedar4">CEDAR 4</mat-option>
    </mat-select> -->
    <p><mat-checkbox>CEDAR 1</mat-checkbox></p>
    <p><mat-checkbox>CEDAR 2</mat-checkbox></p>
    <p><mat-checkbox>CEDAR 3</mat-checkbox></p>
    <p><mat-checkbox>CEDAR 4</mat-checkbox></p>

    <p><input type="button" value="Ok" [routerLink]="['/home']"></p>

</div>
